.customers__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $title-text-color;
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
  }
}

.customers {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px;
}

.customers__item {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.customers__link {
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;

  transition-property: border-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.customers__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: currentColor;
}
