.footer {
  display: block;
  width: auto;
  background-color: $accent-darkbox-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  text-align: center;
  width: 100%;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    text-align: left;
  }
}

.footer__address {
  font-style: normal;
  line-height: 1.71;

  margin-bottom: 8px;

  color: $primary-white-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.footer__nav-link {
  font-style: normal;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $primary-text-color;

  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.footer__contacts--item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer__contacts--item {
  &:last-child {
    margin-right: 0;
  }
}

.footer__nav-link {
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__social-media {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: auto;
  }
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join-us__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  fill: $primary-white-color;
}

.footer__subscription {
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 0;
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    text-align: left;
  }
}

.subscribe__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.subscribe__input {
  display: flex;
  align-items: center;

  padding: 0 16px;

  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: transparent;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  width: 200px;
  height: 50px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primary-white-color;
  background-color: $accent-color;

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;

  fill: currentColor;
}
