.logo {
  display: block;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--accent {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}

.logo--header {
  padding-top: 16px;
  padding-bottom: 16px;

  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo--footer {
  margin-bottom: 20px;

  color: $primary-white-color;
}
