$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$primary-bg-color: #e5e5e5;
$accent-darkbox-color: #2f303a;

$card-set-gap: 30px;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
